auto_mix_prep==0.2.0
catboost==1.2.8
lightgbm==4.6.0
matplotlib==3.10.7
numpy==2.3.4
optuna==4.6.0
pandas==2.3.3
phik==0.12.5
scikit_learn==1.7.2
seaborn==0.13.2
shap==0.47.1
SQLAlchemy==2.0.44
torch==2.9.1
